.table{
    width: 100%;
    border-collapse: collapse;
    line-height: 2rem;
    text-align: center;
}
.table_header{
    background-color: #000;
    color:#FFF;
    font-size: 1.1rem;
}
.table_body{
    line-height: 2rem;
}
.DelButton{
    background-color: tomato;
    border-radius: 8px;
    line-height: 2rem;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 2px;
}
.EdtButton{
    background-color: mediumaquamarine;
    border-radius: 8px;
    line-height: 2rem;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 2px;
}